<section class='headline-section'>
  <span><%= link_to 'Analytics', analytics_path, class: 'btn--link right' %></span>
  <%= render partial: '/shared/home', locals: { articles: @articles } %>
</section>
