<div class='search'>
  <h1 class='search__heading'>HJ Search</h1>

  <%= render partial: '/shared/form' %>

  <turbo-frame id="articles" data-turbo-action="advance" target="_top" >
    <% if !articles.blank? %>
      <div class='queries'>
        <% articles.each do |article| %>
          <ul class="queries__list">
              <li class='queries__list--item'> <a href='/articles/<%= article[1]%>' class='link'><%= image_tag "search_small.svg", class: 'icon-sm' %><%= article[0] %></a> </li>
          </ul>
        <% end %>
      </div>
    <% end %>
  </turbo-frame>
</div>

